/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Estilos del contenido principal */
main {
    padding: 20px;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
